# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Jupyter Notebook temporary files
*.ipynb_checkpoints
*.ipynb_checkpoint

# Jupyter Notebook autosave
*.autosave.ipynb

# Data files
*.csv
*.json

# API key files
api_key*.txt

data/Evaluation_CoTs/final.csv
